[x-cloak] { display: none !important; }
::-webkit-scrollbar{
    display: none !important;
}
.bg-image {
        background: url('<?= URL ?>/public/storage/bg-pattern/pattern.webp');
        background-size: cover;
        background-repeat: no-repeat;
    }
.custom-input-icon::-webkit-calendar-picker-indicator {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
    .input-icon-white::-webkit-calendar-picker-indicator {
        filter: invert(1); /* Untuk membuat putih */
    }

    
    .no-scrollbar::-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
    }

    .no-scrollbar {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    .show-scrollbar::-webkit-scrollbar {
        display: block;
        width: 1px;
    }

    .show-scrollbar {
        scrollbar-width: 1px;
        -ms-overflow-style: auto;
    }