[x-cloak] { display: none !important; }
::-webkit-scrollbar{
    display: none !important;
}
.bg-image {
        background: url('<?= URL ?>/public/storage/bg-pattern/pattern.webp');
        background-size: cover;
        background-repeat: no-repeat;
    }