@import "tailwindcss";

/* Font Poppins - Pastikan file ada di folder public/font/poppins/ */
@font-face {
  font-family: 'Poppins';
  src: url('/public/font/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/public/font/poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/public/font/poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/public/font/poppins/Poppins-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Custom Theme */
@theme {
  --font-poppins: "Poppins", sans-serif;
  
  /* Set Poppins sebagai default font */
  --default-font-family: var(--font-poppins);
}