@import "tailwindcss";
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('../font/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../font/poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../font/poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../font/poppins/Poppins-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}


@theme {
  --font-poppins: 'Poppins', sans-serif;
  --color-primary:  #0B3F78;
  --color-secondary: #1CBAA3;
  --color-tertiary: #1DA0B4;
  --color-red: #FF0051;
  --color-baseColor: #F8F8F8;
}
