@font-face {
  font-family: 'Poppins';
  src: url('../font/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../font/poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../font/poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../font/poppins/Poppins-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}


/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #0B3F78; /* gray-300 */
    border-radius: 9999px; /* rounded-full */
}

::-webkit-scrollbar-thumb:hover {
    background: #0B3F78; /* gray-400 */
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #0B3F78 transparent;
}

